html
  head
    link(href='/css/main.css', rel="stylesheet")
    title koa2
  body
    h1 Hello Koa2
    .container
      p pug template
      p
        a(href="/user/zcong1993") zcong1993
      <%_ if (session) { -%>
      p
        a(href="/session") session
      <%_ } -%>
