html
  head
    link(href='/css/main.css', rel="stylesheet")
    title session
  body
    h1 test session
    .container
      p visted this page #{n} times
      p
        a(href="https://github.com/zcong1993") github
      p
        a(href="/") back
