html
  head
    link(href='/css/main.css', rel="stylesheet")
    title user
  body
    h1 Hello #{name}
    .container
      p pug template
      p
        a(href="https://github.com/zcong1993") github
      p
        a(href="/") back

